on: [push, pull_request]
name: Test
jobs:
  exakat:
    name: Scan with Exakat
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.2.0
    - name: Exakat
      uses: docker://exakat/exakat-ga
